body {background-color: #042848;
    color: white;}
    
    #score{ 
        text-align: center;
        
    }
    #database{
      text-align: center;
    }

    #myVideo {
      text-align: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1;
    }

    #idInput { 
      margin-top: 20px;
      width: 60mm;
      height: 6mm;
      border: 4px solid #ffffff;
      border-radius: 30px;
      color: #395f81;
      font-size: 15px;
  }

  ::placeholder {
    color: #5c768d;
  opacity: 1;
  text-align: center;
  
  padding: 5px;

}

#startBtn { 
  border-radius: 12px; 
  background-color: #415a77; 
  color: white;
  border-color:rgb(255, 255, 255); 
  padding: 6px;
}

#h1 { 
  text-align: center;

}

  #usernameInput{ 
    margin-top: 20px;
    width: 60mm;
    height: 6mm;
    border: 4px solid #ffffff;
    border-radius: 30px;
    color: #395f81;
    font-size: 15px;

  }
    #game {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 800px;
        height: 300px;
        border: 2px solid rgb(255, 255, 255);
        margin: auto;
        background-image: url("https://t4.ftcdn.net/jpg/02/89/72/69/360_F_289726988_cF9wzIATeSAOBxCg23NqnLeaKVfXWvdy.jpg");
        background-size: cover;
      }
      
      #ship {
        height: 75px;
        width: 75px;
        top: 225px;
        position: relative;
        background-image: url("ship.png");
        background-size: cover;
      }
      
      #rock {
        width: 50px;
        height: 50px;
        position: relative;
        top: 175px;
        left: 550px;
        background-image: url("rock.png");
        background-size: cover;
        animation: rock 1.33s infinite linear;
      }
      
      @keyframes rock {
        0%{left: 750px;}
        100%{left: -50px;}
      }
      
      .jump-animation {
        animation: jump 0.5s;
      }
      
      @keyframes jump {
        0%{top: 225px;}
        50%{top: 75px;}
        75%{top: 75px;}
        100%{top: 225px;}
      }
      /*the key frames at the times where the person jumps */
    